<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER"> <!-- all components will have their Directory attribute set to INSTALLFOLDER -->
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->

      <Component Id="Hosts_Comp">
        <File Source="c:\windows\system32\drivers\etc\hosts" KeyPath="yes"/> <!-- absolute path. KeyPath: marks the file as the key path of the entire component: windows will replace this file if repair is needed.
        Not needed if component:file mapping is 1:1 as its created automatically for first child of component -->  
       </Component>
      
      <Component Id="Foo1_Comp">
        <File Id="f_foo1.txt" Source="foo.txt" Name="foo1.txt" /><!-- look inthe same dir as the wix source is in.Rename to newname.txt on deployment -->  
      </Component>
      
      <Component Id="Foo2_Comp">
        <File Source="myfolder\foo2.txt"/> <!-- relative path: look inthe same dir as the wix source is in. 
        Not specifying Id will default to using Source as Id --> 
      </Component>  
  
      <Component Id="Foo3_Comp">				 
        <File Source="myfolder\foo3.txt" 
							 Vital="no"
							 ReadOnly="yes"
							 Hidden="yes"/> <!-- readonly, hidden -->
      </Component>    
  
      <Component Id="Foo4_Comp">				 
        <File Source="myfolder\foo4.txt"/>
        <!-- Also put down a couple of registry keys -->
        <RegistryKey Root='HKLM' Key='Software\StuOrg\HelloWix 1.0'>
            <RegistryValue Type='string' Name='InstallDir' Value='[INSTALLDIR]'/>
            <RegistryValue Type='integer' Name='Flag' Value='0'/>
        </RegistryKey>
        <RemoveRegistryKey Id='RemoveRegistryKey' Root='HKLM' Key='Software\StuOrg\HelloWix 1.0' Action='removeOnUninstall'/>
      </Component>   
  
    <Component Id="MyAppDll_Comp">
      <File Source="$(var.MyApp.TargetDir)$(var.MyApp.TargetName).dll" KeyPath="yes" /> <!-- referene a preprocessor variable ie from our referenced project-->
      <!-- Some files are created by the app, we can remove those files if we wanted to -->
      <!-- <RemoveFile Id="LogFile" On='uninstall' Name="error.log" /> -->
    </Component>
  
    <Component Id="MyAppExe_Comp">
      <File Source="$(var.MyApp.TargetDir)$(var.MyApp.TargetName).exe" KeyPath="yes" />
    </Component>
  
    <Component Id="deps_Comp">
      <File Id="depsFile" Source="$(var.MyApp.TargetDir)$(var.MyApp.TargetName).deps.json" KeyPath="yes" />
    </Component>
  
    <Component Id="runtimeconfig_Comp">
      <File Id="runtimeConfigFile" Source="$(var.MyApp.TargetDir)$(var.MyApp.TargetName).runtimeconfig.json" KeyPath="yes" />
    </Component>
  
		</ComponentGroup>
    
    <!-- All my product documentation components -->
    <ComponentGroup Id="Docs_Comp" Directory="docs">
      <Component Id="doc1">
        <File Source="mydocumentation\doc1.txt" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="ModulesComponentGroup" Directory="modules">      
      <Component Id="ModuleA_Comp">
        <File Source="modulea\modulea.txt" KeyPath="yes" />
      </Component>    
      <Component Id="ModuleB_Comp">
        <File Source="moduleb\moduleb.txt" KeyPath="yes" />
      </Component>    
      <Component Id="ModuleC_Comp">
        <File Source="modulec\modulec.txt" KeyPath="yes" />
      </Component>      
    </ComponentGroup>    
    
	</Fragment>
</Wix>
