<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!-- A Burn project, called a bundle -->
	<Bundle 
    Name="Bootstrapper" 
    Version="1.0.0.0" 
    Manufacturer="StuOrg" 
    UpgradeCode="223a5b09-ca1b-4c11-ac4a-41e7aa5536ea">
		
    <!-- The Burn engine is an executable that hosts a DLL called the "bootstrapper application". 
    The bootstrapper application DLL is responsible for displaying UI to the end-user and 
    directs the Burn engine when to carry out download, install, repair and uninstall actions. 
    WiX Standard Bootstrapper Application exists in the WixBalExtension.dll -->
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="License.rtf" LogoFile="Logo.png" />
      <!-- If you're boostrapper application needs some prerequsites to run, you can add them here-->
      <!--<Payload SourceFile="path\to\en-us\resources.dll" />-->
    </BootstrapperApplicationRef>
    
    <!-- Search the registry and create two variables to hold the results (Needs WixUtilExtension.dll to be references for this to work)-->
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Net4FullVersion" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Net4x64FullVersion" Win64="yes" />
    
    
    
    
    <!-- Chain contains the ordered list of packages that make up the bundle, and which need to be installed -->
		<Chain>
      <!-- PackageGroupRef refers to a Group of Payloads (dependnecies) elsewhere in a fragment (See other.wxs for the defintion of MyPackage)-->
      <!--<PackageGroupRef Id="MyPackage"/>-->
      
			<PackageGroupRef Id="NetFx45Web"/>
            
      <!-- We could bundle the .net 4.5.1 setup with the boostrapper and run it if the registry search revels that its not installed -->
      <!--<ExePackage Id="Net45" Name="Microsoft .NET Framework 4.5.1 Setup" Cache="no" Compressed="yes" PerMachine="yes" Permanent="yes" Vital="yes" InstallCommand="/q"
        SourceFile="NDP451-KB2859818-Web.exe"
        DetectCondition="(Net4FullVersion = &quot;4.5.50938&quot;) AND (NOT VersionNT64 OR (Net4x64FullVersion = &quot;4.5.50938&quot;))"
        InstallCondition="(VersionNT >= v6.0 OR VersionNT64 >= v6.0) AND (NOT (Net4FullVersion = &quot;4.5.50938&quot; OR Net4x64FullVersion = &quot;4.5.50938&quot;))"/>-->
      
      <!-- then our msi will be installed by this bundle/boostrapper (which becomes an EXE)-->
			<MsiPackage SourceFile="$(var.HelloWix.TargetPath)" /> <!-- Need a project reference for this to work -->
      
		</Chain>
	</Bundle>
</Wix>
